.sell-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item-info {
    width: 100%;
    max-width: 500px;
}

.sell-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.sell-inputs label,
.sell-inputs input,
.sell-inputs textarea {
    width: 100%;
    text-align: left;
}

.item-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    max-width: 500px;
    width: 100%;
}

.item-img label,
.item-img input[type="file"] {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.img-preview {
    width: 100%;
    height: 150px;
    border: 2px dashed #5F5F5F;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-label {
    color: #FF5555;
    border: 2px solid #FF5555;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    transition: background 0.2s;
}

.custom-file-label:hover {
    background: #FFF0F0;
}

.item-img label[for="img"] {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 8px;
}

.item-info__title {
    color: #5F5F5F;
    font-size: 30px;
    border-bottom: 1px solid #5F5F5F;
}

.item-info__label {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.category-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 16px;
}

.checkbox-item {
    position: relative;
}

.checkbox-item input[type="checkbox"] {
    display: none;
}

.checkbox-item label {
    display: inline-block;
    padding: 4px  10px;
    border: 2px solid #FF5655;
    border-radius: 200px;
    background: none;
    color: #FF5655;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    user-select: none;
}

.checkbox-item input[type="checkbox"]:checked+label {
    background: #FF5655;
    color: #fff;
}

.item-condition select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 20px;
}

.sell-inputs input {
    padding: 10px 0;
    font-size: 20px;
}

.sell-inputs .item-info__label {
    margin-bottom: 0;
}

.btn-primary {
    background-color: #FF5655;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 24px;
    width: 498px;
}

.btn-primary:hover {
    background-color: #FF4444;
}